<div class="cart-item">
  <div class="left">
    <img [src]="data.image.thumbnail" [alt]="data.name" />
  </div>

  <div class="right">
    <div class="details">
      <div>
        <h3 class="name">{{ data.name }}</h3>
        <p class="price">
          {{ data.price | currency : "USD" : "symbol" : "1.2-2" }}
        </p>
        <p class="quantity">Qty: {{ data.quantity }}</p>
      </div>

      <button class="remove" (click)="cartService.removeItemFromCart(data)">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 2H9C7.897 2 7 2.897 7 4V6H3V8H5V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V8H21V6H17V4C17 2.897 16.103 2 15 2ZM9 4H15V6H9V4ZM17 20H7V8H17V20Z"
            fill="#6A6A6A"
          />
        </svg>
      </button>
    </div>
    <div class="bottom">
      <div class="controls">
        <button (click)="cartService.reduceItemQuantity(data)">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.91666 6.41667H11.0833V7.58334H2.91666V6.41667Z"
              fill="#3D3D3D"
            />
          </svg>
        </button>
        <h4>{{ data.quantity }}</h4>
        <button (click)="cartService.increaseItemQuantity(data)">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.0833 6.41667H7.58332V2.91667H6.41666V6.41667H2.91666V7.58334H6.41666V11.0833H7.58332V7.58334H11.0833V6.41667Z"
              fill="#3D3D3D"
            />
          </svg>
        </button>
      </div>

      <h3 class="total">
        {{ data.price * data.quantity | currency : "USD" : "symbol" : "1.2-2" }}
      </h3>
    </div>
  </div>
</div>
